{% extends "base_generic.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

{% if form.errors %}
    {% for key, value in form.errors.items %}
<p>
    {% if key != '__all__' %}{{ key }} {% endif %}{{ value }}
</p>
    {% endfor %}
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>{% trans "Your account doesn't have access to this page. To proceed, please login with an account that has access" %}</p>
    {% endif %}
{% endif %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% trans "Authorization" %}</h3>
                    </div>
                    <form role="form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 login-box">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                        <input type="text" name="username" id="id_username" class="form-control" placeholder="{% trans "Email" %}" required autofocus />
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                        <input type="password" name="password" class="form-control" id="id_password" placeholder="{% trans "Password" %}" required>
                                    </div>
                                    <p><a href="{% url 'password_reset' %}">{% trans "Lost password?" %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <!--<div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="Remember">
                                            {# {% trans "Remember me" %} #}
                                        </label>
                                    </div>
                                </div>-->
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <input type="submit" class="btn btn-primary btn-lg" value="{% trans "Login" %}" />
                                    <input type="hidden" name="next" value="{{ next }}" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}