{% extends "base_generic.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}

    {% if validlink %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-3">
                <form class="form-container" method="post" action="">
                    {% csrf_token %}
                    <h2>{% trans "Password reset" %}</h2>
                    <div class="form-group">

                                        <input type="password" name="new_password1" class="form-control" id="id_new_password1" placeholder="{% trans "New password" %}" required>
                                        <input type="password" name="new_password2" class="form-control" id="id_new_password2" placeholder="{% trans "Password confirmation" %}" required>

                    </div>

                    <button type="submit" class="btn btn-primary btn-block">{% trans "Password change" %}</button>

                </form>
            </div>
        </div>
    </div>
    {% else %}
        <h1>{% trans "Password reset unsuccessful" %}</h1>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
    {% endif %}


{% endblock %}