{% extends "base_generic.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 mx-auto">

                        <!-- form card login -->
                        <div class="card rounded-0">
                            <div class="card-header">
                                <h3 class="mb-0">{% trans "Password reset" %}</h3>
                            </div>
                            <div class="card-body">
                                <form class="form-container" method="post" action="">
                                    {% csrf_token %}
                                    <div class="form-group">

                                        <input type="email" name="email" id="id_email" class="form-control" placeholder="{% trans "Email" %}" required autofocus />

                                    </div>

                                    <button type="submit" class="btn btn-primary btn-block">{% trans "Reset password" %}</button>

                                </form>
                            </div>
                            <!--/card-block-->
                        </div>
                        <!-- /form card login -->
                    </div>
                </div>
                <!--/row-->
            </div>
            <!--/col-->
        </div>
        <!--/row-->
    </div>
    <!--/container-->

{% endblock %}