{% extends "base_generic.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="panel panel-primary">
                    <form class="form-container" method="post" action="">
                    {% csrf_token %}
                    <h2>{% trans "Password reset" %}</h2>
                    <div class="form-group">

                        <input type="email" name="email" id="id_email" class="form-control" placeholder="{% trans "Email" %}" required autofocus />

                    </div>

                    <button type="submit" class="btn btn-primary btn-block">{% trans "Reset password" %}</button>

                </form>


           </div>
        </div>
    </div>

{% endblock %}