{% extends "base_generic.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% trans "Password reset" %}</h3>
                    </div>
                    <form role="form" method="post" action="">
                        {% csrf_token %}
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6 login-box">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                        <input type="email" name="email" class="form-control" maxlength="254"  placeholder="{% trans "Email" %}" required id="id_email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <input type="submit" class="btn btn-primary btn-lg" value="{% trans "Reset password" %}" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}