{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div id="starting">
        <h1>{% trans "User details" %}</h1>
        <form method="post" action="{% url 'peopleDetails' object.id %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputLastName">{% trans 'Last name' %}</label>
                    <input type="text" class="form-control" id="inputLastName" placeholder="{% trans 'Last name' %}" value="{{ object.last_name }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputMiddleName">{% trans 'Middle name' %}</label>
                    <input type="text" class="form-control" id="inputMiddleName" placeholder="{% trans 'Middle name' %}" value="{{ object.middle_name }}">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputFirstName">{% trans 'First name' %}</label>
                    <input type="text" class="form-control" id="inputFirstName" placeholder="{% trans 'First name' %}" value="{{ object.first_name }}">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail">{% trans 'Email' %}</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="{% trans 'Email' %}" value="{{ object.email }}">
            </div>
            <div class="form-group">
                <label for="inputMobile">{% trans 'Mobile' %}</label>
                <input type="tel" class="form-control" id="inputMobile" placeholder="{% trans 'Mobile' %}" value="{{ object.email }}">
            </div>
            <div class="form-group">
                <label for="inputBirthday">{% trans 'Birthday' %}</label>
                <input type="date" class="form-control" id="inputBirthday" placeholder="{% trans 'Birthday' %}" value="{{ object.birthday }}">
            </div>
            <div class="btn-toolbar justify-content-between mb-3">
                <div>
                    <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#changePasswordModal">{% trans "Change password" %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
