{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div id="starting">
        <h1>{% trans "Import Users" %}</h1>
        <form action="/api/userimport" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="myFile" name="filename">

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">{% trans "Import" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
