{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div id="starting">
        <h1>{% trans "Import Users" %}</h1>
        {% if result %}
            <div container>
                <div class="row">
                    <div class="col col-lg-6">

                        {% if result.success %}
                            <div class="alert alert-success">
                                <p>{% trans "Success" %}</p>
                                <div>{% trans "Added records" %}: {{ result.num_success }} </div>
                                <div>{% trans "Existing records" %}: {{ result.num_exists }} </div>
                                <div>{% trans "Failed records" %}: {{ result.num_failed }} </div>
                            </div>
                        {% else %}
                            <div class="alert alert-danger">
                                <p>{% trans "Failure" %}</p>
                                <div>{{ result.error }}</div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        <form action="actions" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="myFile" name="filename">

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">{% trans "Import" %}</button>
            </div>
        </form>
    </div>
{% endblock %}
