{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <div id="starting">
        <h1>{% trans "List of Users" %}</h1>
        <div class="btn-toolbar justify-content-between mb-3">
            <div>
            <button class="btn btn-success" data-toggle="modal" data-target="#addUserModal">{% trans "Add" %}</button>
            <button class="btn btn-success" v-if="isSelected" data-toggle="modal" data-target="#editUserModal">{% trans "Edit" %}</button>
            <button class="btn btn-danger" v-if="isSelected" v-on:click="deletePeopleConfirm()">{% trans "Delete" %}</button>
            </div>
            <div class="input-group">
              <input class="form-control mr-sm-2" type="text" placeholder="{% trans "Search" %}" v-model="search_term" aria-label="{% trans "Search" %}">
              <button class="btn btn-success my-2 my-sm-0" v-on:click.prevent="getPeoples()">{% trans "Search" %}</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th class="th-sm">#</th>
                    <th>{% trans "First name" %}</th>
                    <th>{% trans "Last name" %}</th>
                    <th>{% trans "Email" %}</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in users" v-on:click="selectPeople(user)" v-bind:class="isActive(user)">
                    <td >${user.id}</td>
                    <td>${user.first_name}</td>
                    <td>${user.last_name}</td>
                    <td>${user.email}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--<div class="loading" v-if="loading===true">Loading&#8230;</div> -->
        <!-- Add People Modal -->
        <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Add user" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="addPeople()">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="alert alert-danger" v-if="errorMessage">
                                  ${errorMessage}
                            </div>
                            <div class="form-group">
                                <label for="first_name">{% trans "First name" %}</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="first_name"
                                        placeholder="Enter First name"
                                        v-model="newPeople.first_name"
                                        required="required" >
                            </div>
                            <div class="form-group">
                                <label for="last_name">{% trans "Last name" %}</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="last_name"
                                        placeholder="Enter Last name"
                                        v-model="newPeople.last_name"
                                        required="required" >
                            </div>
                            <div class="form-group">
                                <label for="email">{% trans "Email" %}</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="email"
                                        placeholder="Enter email"
                                        v-model="newPeople.email">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End of people modal -->
        <!-- Edit People Modal -->
        <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Edit" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="updatePeople()">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="alert alert-danger" v-if="errorMessage">
                                  ${errorMessage}
                            </div>
                            <div class="form-group">
                                <label for="first_name">{% trans "First name" %}</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="first_name"
                                        placeholder="Enter First name"
                                        v-model="currentPeople.first_name"
                                        required="required" >
                            </div>
                            <div class="form-group">
                                <label for="last_name">{% trans "Last name" %}</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="last_name"
                                        placeholder="Enter Last name"
                                        v-model="currentPeople.last_name"
                                        required="required" >
                            </div>
                            <div class="form-group">
                                <label for="email">{% trans "Email" %}</label>
                                <input
                                        type="text"
                                        class="form-control"
                                        id="email"
                                        placeholder="Enter email"
                                        v-model="currentPeople.email">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                            <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End of people modal -->
        <!-- Delete People Modal -->
        <div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Delete confirm" %}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="deletePeople()">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="alert alert-danger" v-if="errorMessage">
                                  ${errorMessage}
                            </div>
                            <div class="form-group">
                                <label v-for="currentPeople"> {% blocktrans %}Delete user #${currentPeople.id}  ${currentPeople.first_name} ${currentPeople.last_name} (${currentPeople.email})  ?{% endblocktrans %}</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "No" %}</button>
                            <button type="submit" class="btn btn-danger btn-primary">{% trans "Delete" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- End of people modal -->

    </div>
    <script type="text/javascript">
        new Vue({
            el: '#starting',
            delimiters: ['${','}'],
            data: {
                users: [],
                loading: false,
                currentPeople: {},
                isSelected: false,
                message: null,
                newPeople: { 'first_name': null, 'last_name': null, 'email': null},
                errorMessage: '',
                search_term: '',
            },
            mounted: function() {
                this.getPeoples();
            },
            methods: {
                getPeoples: function() {
                    this.loading = true;
                    let api_url = '/api/user/';
                    if(this.search_term !== '' || this.search_term !== null) {
                      api_url = api_url + "?search=" + this.search_term;
                    }
                    this.$http.get(api_url)
                        .then((response) => {
                            this.users = response.data;
                            //if (this.users && this.users.length > 0 && this.currentPeople && this.isSelected && this.users.filter(x => x.id === this.currentPeople.id).length != 1) {
                                this.currentPeople = {};
                                this.isSelected = false;
                            //}
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                selectPeople: function(user) {
                    this.currentPeople = user;
                    this.isSelected = true;
                },
                isActive: function(user) {
                    return {
                        'table-primary': this.currentPeople === user
                    }
                },
                getPeople: function(id) {
                    this.loading = true;
                    this.$http.get("{% url 'user-list' %}"+'${id}/')
                        .then((response) => {
                            this.currentPeople = response.data;
                            this.loading = false;
                        })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                addPeople: function() {
                    this.loading = true;
                    this.errorMessage = '';
                    var csrf = document.querySelector('[name="csrfmiddlewaretoken"]').value;
                    Vue.http.headers.common['X-CSRFTOKEN'] = csrf;
                    this.$http.post('/api/userdetail/',this.newPeople)
                        .then((response) => {
                            this.loading = false;
                            $("#addUserModal").modal('hide');
                            this.getPeoples();
                        }, (err) => {
                                console.log(err);
                                if (err.bodyText) {
                                    var errors = JSON.parse(err.bodyText);
                                    for (var value in errors) {
                                        this.errorMessage = JSON.stringify(errors[value]).replace(/[\[\]"]+/g, '');
                                    }
                                    console.log(err.bodyText);
                                }
                            })
                        .catch((err) => {
                            this.loading = false;
                            console.log(err);
                        })
                },
                updatePeople: function() {
                    this.loading = true;
                    this.errorMessage = '';
                    if (this.currentPeople !== '') {
                    var csrf = document.querySelector('[name="csrfmiddlewaretoken"]').value;
                    Vue.http.headers.common['X-CSRFTOKEN'] = csrf;
                    this.$http.put('/api/userdetail/'+this.currentPeople.id+'/', this.currentPeople)
                            .then((response) => {
                                this.loading = false;
                                this.currentPeople = response.data;
                                $("#editUserModal").modal('hide');
                                this.getPeoples();
                            }, (err) => {
                                console.log(err);
                                if (err.bodyText) {
                                    var errors = JSON.parse(err.bodyText);
                                    for (var value in errors) {
                                        this.errorMessage = JSON.stringify(errors[value]).replace(/[\[\]"]+/g, '');
                                    }
                                    console.log(err.bodyText);
                                }
                            })
                            .catch((err) => {
                                this.loading = false;
                                console.log(err);
                            })
                    }
                },
                deletePeopleConfirm: function() {
                    $("#deleteUserModal").modal('show');
                },
                deletePeople: function() {
                    this.loading = true;
                    $("#deleteUserModal").modal('hide');
                    if (this.currentPeople !== '') {
                        var csrf = document.querySelector('[name="csrfmiddlewaretoken"]').value;
                        Vue.http.headers.common['X-CSRFTOKEN'] = csrf;
                        this.$http.delete('/api/userdetail/'+this.currentPeople.id+'/' )
                            .then((response) => {
                                this.loading = false;
                                this.currentPeople = '';
                                this.isSelected = false;
                                this.getPeoples();
                            })
                            .catch((err) => {
                                this.loading = false;
                                console.log(err);
                            })
                    }
                }
            },});
    </script>

{% endblock %}

